@model HakatonProject.Models.ResourseLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResourseLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buildings.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buildings.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocType.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocType.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
